{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Entries{% endblock %}</h1>
	{% if g.user %}
		<a class="action" href="{{ url_for('entry.create', search=search) }}">New</a>
	{% endif %}
{% endblock %}

{% block content %}
	<p></p>
	<div class="about"><strong>Search </strong><a href="{{ url_for('entry.search_clear') }}">(Clear)</a><strong>:</strong><br />{{ search.pretty_str() }}</div>
	<hr>
	{% for entry in entries %}
		<article class="post">
			<header>
				<div>
					<h1><a href="{{ url_for('entry.view', id=entry['rowid'], search=search) }} ">{{ entry['name'] }}</a></h1>
					{% if (g.user['id'] == entry['author_id'] or g.user['admin'] == 1) %}
						<a class="action" href="{{ url_for('entry.update', id=entry['rowid'], search=search) }}">Edit</a>
					{% endif %}
					<div class="about">created on {{ entry['created']}}</div>
				</div>
			</header>
			<p class="descr">{{ entry['descr'] }}</p>
			<div class="about">{{ entry['tags'].replace("\r\n", ", ") }}</div>
		</article>
		{% if not loop.last %}
			<hr>
		{% endif %}
	{% endfor %}
{% endblock %}
