{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit "{{ entry['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ request.form['name'] or entry['name'] }}" required>
        <label for="descr">Description</label>
        <textarea name="descr" id="descr">{{ request.form['descr'] or entry['descr'] }}</textarea>
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('entry.delete', id=entry['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this entry?');">
    </form>
{% endblock %}
