{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}
		{% if edit %}
			Edit "{{ entry['name'] }}"
		{% else %}
			New Entry
		{% endif %}
	{% endblock %}</h1>
{% endblock %}

{% block content %}

	<!-- FORM INPUT -->

	<form method="post">

		<label for="contact">Email contact address for this software</label>
		<h5>What is the best email address for people to use to contact the maintainer(s) of this software? If you wish to provide more than one email address, please separate individual addresses with commas. Note: your username will NOT be put in the SBML Software Guide unless you indicate so here, either by checking the first checkbox below or including your email address in a list of multiple addresss in the "Other" field.</h5>
		<table class="simple">
			<tr>
				<td><label class="container">
					<input name="contact" id="contact" value="Use my username" type="radio" {{"checked" if select_contact else ""}} >
					<span class="checkmark button"></span>
				</label></td>
				<td>Use my username</td>
			</tr>
			<tr>
				<td><label class="container">
					<input name="contact" id="contact_other" value="Other" type="radio" {{"checked" if not select_contact else ""}} >
					<span class="checkmark button"></span>
				</label></td>
				<td>Other:<input name="contact_other_txt" id="contact_other_txt" value="{{ entry['contact'] if not select_contact else ""}}"> </td>
			 </tr>
		</table>

		<label for="name">The name of the software</label>
		<h5>Please OMIT the version number. A separate question asks for the version number below.</h5>
		<input name="name" id="name" value="{{ entry['name'] }}" required>

		<label for="version">The most recent version of the software</label>
		<h5>Versions are often expressed as a series of numbers and letters, such as "1.1", "3.1.1", or similar.</h5>
		<input name="version" id="version" value="{{ entry['version'] }}" required>

		<label for="site">The website or home page for the software</label>
		<h5>This can be a page that describes the software, or perhaps a GitHub repository if that's the home for the software. (Note: this should NOT be a link to download the software.)</h5>
		<input name="site" id="site" value="{{ entry['site'] }}">
		
		<label for="descr">A short description of the software</label>
		<h5>Please provide a brief description of up to 1024 characters, suitable for use on a web page listing of different SBML software tools. What is your software's main purpose? What does it do? What kind of problems is it designed to address?</h5>
		<textarea name="descr" id="descr" required>{{ entry['descr'] }}</textarea>

		<label for="tags">Key phrases to describe features of the software</label>
		<h5>Please write as many key phrases as you can think of to describe features and capabilities of your software. This is where you can describe the capabilities of your software, including simulation methods, modeling frameworks used, types of analysis methods, and anything else that distinguishes your software. We require at least 3, but enter as many as you can think of! This is the main method people will search for your software. Write each phrase on a separate line, and use as many key phrases as you like. Capitalization does not matter. Example: "discrete stochastic simulation; parameter search; graphical plots; batch processing; command-line interface."</h5>
		<textarea name="tags" id="tags" required>{{ entry['tags'] }}</textarea>

		<label for="os">Operating systems supported by the software</label>
		<h5>Please check all that apply.</h5>
		<table class="simple">
			<tr>
				<td><label class="container">
						<input name="os" id="os_win" value="Windows" type="checkbox" {{"checked" if "Windows" in os_list else "" }} >
					<span class="checkmark"></span>
				</label></td>
				<td>Windows</td>
			</tr>
			<tr>
				<td><label class="container">
					<input name="os" id="os_mac" value="Mac" type="checkbox" {{"checked" if "Mac" in os_list else "" }} >
					<span class="checkmark"></span>
				</label></td>
				<td>Mac</td>
			</tr>
			<tr>
				<td><label class="container">
					<input name="os" id="os_linux" value="Linux" type="checkbox" {{"checked" if "Linux" in os_list else "" }} >
					<span class="checkmark"></span>
				</label></td>
				<td>Linux</td>
			</tr>
			<tr>
				<td><label class="container">
					<input name="os" id="os_web" value="Web Browser" type="checkbox" {{"checked" if "Web Browser" in os_list else "" }} >
					<span class="checkmark"></span>
				</label></td>
				<td>Web Browser</td>
			</tr>
			<tr>
				<td><label class="container">
					<input name="os" id="os_ios" value="iOS" type="checkbox" {{"checked" if "iOS" in os_list else "" }} >
					<span class="checkmark"></span>
				</label></td>
				<td>iOS</td>
			</tr>
			<tr>
				<td><label class="container">
					<input name="os" id="os_android" value="Android" type="checkbox" {{"checked" if "Android" in os_list else "" }} >
					<span class="checkmark"></span>
				</label></td>
				<td>Android</td>
			</tr>
			<tr>
				<td><label class="container">
					<input name="os" id="os_na" value="Not Relevant" type="checkbox" {{"checked" if "Not Relevant" in os_list else "" }} >
					<span class="checkmark"></span>
				</label></td>
				<td>Not Relevant (e.g., if it's a cloud-based network service)</td>
			</tr>
			<tr>
				<td><label class="container">
						<input name="os" id="os_other" value="Other" type="checkbox" {{"checked" if entry['os_other'] else ""}} >
					<span class="checkmark"></span>
				</label></td>
				<td>Other:<input name="os_other_txt" id="os_other_txt" value={{os_list[0] if entry['os_other'] else ""}} ></td>
			</tr>
		</table>
		
		<label for="dependency">Does the software depend on another software environment?</label>
		<h5>If the software depends on an environment such as MATLAB or is a component in a workflow system such as Galaxy, please provide that information here. If your software is written in Python, R or a similar language, here is the crucial point we want to know: does the user interact with your software by typing commands to the language interpreter? If yes, then please tell us the language or environment. On the other hand, if the language is only used to implement the software, and the software provides a GUI or other interface (such that the user does not need to know anything about the syntax of the implementation language), then you do NOT need to list it here.</h5>
		<table class="simple">
			<tr>
				<td><label class="container">
						<input name="dependency" id="dependency_no" value="None" type="radio" {{"checked" if select_dependency==0 else ""}}>
					<span class="checkmark button"></span>
				</label></td>
				<td>No</td>
			</tr>
			<tr>
				<td><label class="container">
						<input name="dependency" id="dependency_yes" value="Yes" type="radio" {{"checked" if select_dependency==1 else ""}}>
					<span class="checkmark button"></span>
				</label></td>
				<td>Yes:<input name="dependency_yes_txt" id="dependency_yes_txt" value={{entry['dependency'] if select_dependency==1 else ""}} ></td>
			</tr>
			<tr>
				<td><label class="container">
						<input name="dependency" id="dependency_other" value="Other" type="radio" {{"checked" if select_dependency==2 else ""}}>
					<span class="checkmark button"></span>
				</label></td>
				<td>Other:<input name="dependency_other_txt" id="dependency_other_txt" value={{entry['dependency'] if select_dependency==2 else ""}} ></td>
			</tr>
		</table>

		<label for="fee">Is there a fee for using the software?</label>
		<h5>Please check all that apply.</h5>
		<table class="complex">
			<tr class="head">
				<th></th>
				<th>Free</th>
				<th>For a fee</th>
			</tr>
			<tr>
				<td>Academic</td>

				<td class="box"><label class="container">
					<input name="fee_academic" id="free_academic" value="Free" type="radio" {{"checked" if not entry['fee_academic'] else ""}} >
					<span class="checkmark button"></span>
				</label></td>

				<td class="box"><label class="container">
					<input name="fee_academic" id="fee_academic" value="Fee" type="radio" {{"checked" if entry['fee_academic'] else ""}} >
					<span class="checkmark button"></span>
				</label></td>
			</tr>
			<tr>
				<td>Non-Profit</td>

				<td class="box"><label class="container">
					<input name="fee_nonprofit" id="free_nonprofit" value="Free" type="radio" {{"checked" if not entry['fee_nonprofit'] else ""}} >
					<span class="checkmark button"></span>
				</label></td>

				<td class="box"><label class="container">
					<input name="fee_nonprofit" id="fee_nonprofit" value="Fee" type="radio" {{"checked" if entry['fee_nonprofit'] else ""}} >
					<span class="checkmark button"></span>
				</label></td>
			</tr>
			<tr>
				<td>Government</td>

				<td class="box"><label class="container">
					<input name="fee_govt" id="free_govt" value="Free" type="radio" {{"checked" if not entry['fee_govt'] else ""}} >
					<span class="checkmark button"></span>
				</label></td>

				<td class="box"><label class="container">
					<input name="fee_govt" id="fee_govt" value="Fee" type="radio" {{"checked" if entry['fee_govt'] else ""}}>
					<span class="checkmark button"></span>
				</label></td>
			</tr>
			<tr>
				<td>Commercial</td>

				<td class="box"><label class="container">
					<input name="fee_commercial" id="free_commercial" value="Free" type="radio" {{"checked" if not entry['fee_commercial'] else ""}} >
					<span class="checkmark button"></span>
				</label></td>

				<td class="box"><label class="container">
					<input name="fee_commercial" id="fee_commercial" value="Fee" type="radio" {{"checked" if entry['fee_commercial'] else ""}} >
					<span class="checkmark button"></span>
				</label></td>
			</tr>
		</table>

		<input type="submit" value="Save">

	</form>
	{% if edit %}
		<hr>
		<form action="{{ url_for('entry.delete', id=entry['id']) }}" method="post">
			<input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this entry?');">
		</form>
	{% endif %}
{% endblock %}
