{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ entry['name'] }} {{ entry['version']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
	<p></p>

	{% if (g.user['id'] == entry['author_id'] or g.user['admin'] == 1) %}
		<a class="action" href="{{ url_for('entry.update', id=entry['id']) }}">Edit</a>
	{% endif %}
	<p></p>

	<div>{{ entry['descr'] }}</div>
	
	<p></p>

	<div class="about">{{ entry['tags'] }}</div>

	<p></p>

	<label>More Information</label>
	<table class="complex">
		<tr>
			<td>Supported OS's</td>
			<td>{{ ", ".join(os_list) }}</td>
		</tr>
		<tr>
			<td>Dependencies</td>
			<td>{{ entry['dependency'] }}</td>
		</tr>
		<tr>
			<td>Costs</td>
			<td>
				<i>Academic:</i> {{"For a fee" if entry['fee_academic'] else "Free" }}<br>
				<i>Non-Profit:</i> {{"For a fee" if entry['fee_nonprofit'] else "Free" }}<br>
				<i>Government:</i> {{"For a fee" if entry['fee_govt'] else "Free" }}<br>
				<i>Commercial:</i> {{"For a fee" if entry['fee_commercial'] else "Free" }}
			</td>
		</tr>
		<tr>
			<td>Most Recent Version</td>
			<td>{{ entry['version'] }}</td>
		</tr>
		<tr>
			<td>Website/Home Page</td>
			<td><a href="{{ entry['site'] }}">{{ entry['site'] }}</a></td>
		</tr>
		<tr>
			<td>Contact</td>
			<td>{{ entry['contact'] }}</td>
		</tr>
	</table>
{% endblock %}
