{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">
	<label for="keywords">Keywords</label>
	<h5>Separate using commas (eg: command-line, stochastic simulation, analysis)</h5>
	<input name="keywords" id="keywords" value="{{", ".join(search['keywords'])}}"></input>

	<label for="os">Required OS Support</label>
	<table class="simple">
		<tr>
			<td><label class="container">
					<input name="os" id="os_win" value="Windows" type="checkbox" {{"checked" if "Windows" in search['os_list'] else "" }} >
				<span class="checkmark"></span>
			</label></td>
			<td>Windows</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="os" id="os_mac" value="Mac" type="checkbox" {{"checked" if "Mac" in search['os_list'] else "" }} >
				<span class="checkmark"></span>
			</label></td>
			<td>Mac</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="os" id="os_linux" value="Linux" type="checkbox" {{"checked" if "Linux" in search['os_list'] else "" }} >
				<span class="checkmark"></span>
			</label></td>
			<td>Linux</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="os" id="os_web" value="Web Browser" type="checkbox" {{"checked" if "Web Browser" in search['os_list'] else "" }} >
				<span class="checkmark"></span>
			</label></td>
			<td>Web Browser</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="os" id="os_ios" value="iOS" type="checkbox" {{"checked" if "iOS" in search['os_list'] else "" }} >
				<span class="checkmark"></span>
			</label></td>
			<td>iOS</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="os" id="os_android" value="Android" type="checkbox" {{"checked" if "Android" in search['os_list'] else "" }} >
				<span class="checkmark"></span>
			</label></td>
			<td>Android</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="os" id="os_na" value="Not Relevant" type="checkbox" {{"checked" if "Not Relevant" in search['os_list'] else "" }} >
				<span class="checkmark"></span>
			</label></td>
			<td>Not Relevant (e.g., if it's a cloud-based network service)</td>
		</tr>
		<tr>
			<td><label class="container">
					<input name="os" id="os_other" value="Other" type="checkbox" {{"checked" if search['os_other'] else ""}} >
				<span class="checkmark"></span>
			</label></td>
			<td>Other:<input name="os_other_txt" id="os_other_txt" value="{{search['os_list'][0] if search['os_other'] else ""}}" ></td>
		</tr>
	</table>

	<label for="fee">Required Costs</label>
	<h5>Must be free for...</h5>
	<table class="simple">
		<tr>
			<td><label class="container">
				<input name="fee" id="free_academic" value="Academic" type="checkbox" {{"checked" if search['academic'] else ""}} >
				<span class="checkmark"></span>
			</label></td>
			<td>Academic</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="fee" id="free_nonprofit" value="Non-Profit" type="checkbox" {{"checked" if search['nonprofit'] else ""}} >
				<span class="checkmark"></span>
			</label></td>
			<td>Non-Profit</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="fee" id="free_govt" value="Government" type="checkbox" {{"checked" if search['govt'] else ""}} >
				<span class="checkmark"></span>
			</label></td>
			<td>Government</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="fee" id="free_commercial" value="Commercial" type="checkbox" {{"checked" if search['commercial'] else ""}} >
				<span class="checkmark"></span>
			</label></td>
			<td>Commercial</td>
		</tr>
	</table>

	<label for="dependency">Required Dependencies</label>
	<h5>Separate acceptable dependencies using commas (eg: MATLAB, Python)</h5>
	<table class="simple">
		<tr>
			<td><label class="container">
				<input name="dependency" id="any_dependencies" value="Any" type="radio" {{"checked" if not search['dependency'] and not search['no_dependency'] else ""}} >
				<span class = "checkmark button"></span>
			</label></td>
			<td>Any Dependencies</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="dependency" id="no_dependencies" value="None" type="radio" {{"checked" if search['no_dependency'] else ""}} >
				<span class="checkmark button"></span>
			</label></td>
			<td>No Dependencies</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="dependency" id="dependencies" value="Yes" type="radio" {{"checked" if search['dependency'] else ""}} >
				<span class="checkmark button"></span>
			</label></td>
			<td>Acceptable Dependencies:<input name="dependency_list" id="dependency_list" value="{{", ".join(search['dependency_list']) if search['dependency'] else ""}}" ></td>
		</tr>
	</table>

	<label for="lvl">Required SBML Level Support</label>
	<table class="complex">
		<tr class="head">
			<th></th>
			<th>Import</th>
			<th>Export</th>
		</tr>
		<tr>
			<td>Level 1 Version 1</td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_1_1_i" value="Level 1 Version 1 import" type="checkbox" {{"checked" if "Level 1 Version 1 import" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_1_1_e" value="Level 1 Version 1 export" type="checkbox" {{"checked" if "Level 1 Version 1 export" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Level 1 Version 2</td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_1_2_i" value="Level 1 Version 2 import" type="checkbox" {{"checked" if "Level 1 Version 2 import" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_1_2_e" value="Level 1 Version 2 export" type="checkbox" {{"checked" if "Level 1 Version 2 export" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Level 2 Version 1</td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_2_1_i" value="Level 2 Version 1 import" type="checkbox" {{"checked" if "Level 2 Version 1 import" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_2_1_e" value="Level 2 Version 1 export" type="checkbox" {{"checked" if "Level 2 Version 1 export" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Level 2 Version 2</td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_2_2_i" value="Level 2 Version 2 import" type="checkbox" {{"checked" if "Level 2 Version 2 import" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_2_2_e" value="Level 2 Version 2 export" type="checkbox" {{"checked" if "Level 2 Version 2 export" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Level 2 Version 3</td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_2_3_i" value="Level 2 Version 3 import" type="checkbox" {{"checked" if "Level 2 Version 3 import" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_2_3_e" value="Level 2 Version 3 export" type="checkbox" {{"checked" if "Level 2 Version 3 export" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Level 2 Version 4</td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_2_4_i" value="Level 2 Version 4 import" type="checkbox" {{"checked" if "Level 2 Version 4 import" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_2_4_e" value="Level 2 Version 4 export" type="checkbox" {{"checked" if "Level 2 Version 4 export" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Level 2 Version 5</td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_2_5_i" value="Level 2 Version 5 import" type="checkbox" {{"checked" if "Level 2 Version 5 import" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_2_5_e" value="Level 2 Version 5 export" type="checkbox" {{"checked" if "Level 2 Version 5 export" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Level 3 Version 1</td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_3_1_i" value="Level 3 Version 1 import" type="checkbox" {{"checked" if "Level 3 Version 1 import" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_3_1_e" value="Level 3 Version 1 export" type="checkbox" {{"checked" if "Level 3 Version 1 export" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Level 3 Version 2</td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_3_2_i" value="Level 3 Version 2 import" type="checkbox" {{"checked" if "Level 3 Version 2 import" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_lvl" id="lvl_3_2_e" value="Level 3 Version 2 export" type="checkbox" {{"checked" if "Level 3 Version 2 export" in search['lvl'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
	</table>

	<label for="sbml_pkg">Required SBML Level 3 Package Support</label>
	<table class="complex">
		<tr class="head">
			<th></th>
			<th>Read</th>
			<th>Write</th>
			<th>Future support planned okay?</th>
		</tr>
		<tr>
			<td>Arrays</td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_array_r" value="Arrays: Read" type="checkbox" {{"checked" if "Arrays: Read" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_array_w" value="Arrays: Write" type="checkbox" {{"checked" if "Arrays: Write" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_array_f" value="Arrays: Future Support Planned" type="checkbox" {{"checked" if "Arrays" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Distributions</td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_distr_r" value="Distributions: Read" type="checkbox" {{"checked" if "Distributions: Read" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_distr_w" value="Distributions: Write" type="checkbox" {{"checked" if "Distributions: Write" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_distr_f" value="Distributions: Future Support Planned" type="checkbox" {{"checked" if "Distributions" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Flux Balance Constraints</td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_flux_r" value="Flux Balance Constraints: Read" type="checkbox" {{"checked" if "Flux Balance Constraints: Read" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_flux_w" value="Flux Balance Constraints: Write" type="checkbox" {{"checked" if "Flux Balance Constraints: Write" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_flux_f" value="Flux Balance Constraints: Future Support Planned" type="checkbox" {{"checked" if "Flux Balance Constraints" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Groups</td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_groups_r" value="Groups: Read" type="checkbox" {{"checked" if "Groups: Read" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_groups_w" value="Groups: Write" type="checkbox" {{"checked" if "Groups: Write" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_groups_f" value="Groups: Future Support Planned" type="checkbox" {{"checked" if "Groups" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Hierarchical Model Composition</td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_heir_r" value="Heirarchical Model Composition: Read" type="checkbox" {{"checked" if "Heirarchical Model Composition: Read" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_heir_w" value="Heirarchical Model Composition: Write" type="checkbox" {{"checked" if "Heirarchical Model Composition: Write" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_heir_f" value="Heirarchical Model Composition: Future Support Planned" type="checkbox" {{"checked" if "Heirarchical Model Composition" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Layout</td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_layout_r" value="Layout: Read" type="checkbox" {{"checked" if "Layout: Read" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_layout_w" value="Layout: Write" type="checkbox" {{"checked" if "Layout: Write" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_layout_f" value="Layout: Future Support Planned" type="checkbox" {{"checked" if "Layout" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Multistate, multicompartment & multicomponent species</td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_multi_r" value="Multistate, Multicompartment, and Multicomponent Species: Read" type="checkbox" {{"checked" if "Multistate, Multicompartment, and Multicomponent Species: Read" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_multi_w" value="Multistate, Multicompartment, and Multicomponent Species: Write" type="checkbox" {{"checked" if "Multistate, Multicompartment, and Multicomponent Species: Write" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_multi_f" value="Multistate, Multicompartment, and Multicomponent Species: Future Support Planned" type="checkbox" {{"checked" if "Multistate, Multicompartment, and Multicomponent Species" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Qualitative Models</td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_quali_r" value="Qualitative Models: Read" type="checkbox" {{"checked" if "Qualitative Models: Read" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_quali_w" value="Qualitative Models: Write" type="checkbox" {{"checked" if "Qualitative Models: Write" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_quali_f" value="Qualitative Models: Future Support Planned" type="checkbox" {{"checked" if "Qualitative Models" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Render</td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_render_r" value="Render: Read" type="checkbox" {{"checked" if "Render: Read" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_render_w" value="Render: Write" type="checkbox" {{"checked" if "Render: Write" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_render_f" value="Render: Future Support Planned" type="checkbox" {{"checked" if "Render" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
		<tr>
			<td>Spacial Processes</td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_spacial_r" value="Spacial Processes: Read" type="checkbox" {{"checked" if "Spacial Processes: Read" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_spacial_w" value="Spacial Processes: Write" type="checkbox" {{"checked" if "Spacial Processes: Write" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td class="box"><label class="container">
				<input name="sbml_pkg" id="pkg_spacial_f" value="Spacial Processes: Future Support Planned" type="checkbox" {{"checked" if "Spacial Processes" in search['pkg'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
		</tr>
	</table>

	<label for="uses">Required Facilities</label>
	<table class="simple">
		<tr>
			<td><label class="container">
				<input name="uses" id="uses_model" value="Model creation/editing" type="checkbox" {{"checked" if "Model creation/editing" in search['uses'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td>Model creation/editing</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="uses" id="uses_numsim" value="Numerical simulation" type="checkbox" {{"checked" if "Numerical simulation" in search['uses'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td>Numerical simulation</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="uses" id="uses_analysis" value="Analysis" type="checkbox" {{"checked" if "Analysis" in search['uses'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td>Analysis (in addition to, or instead of, simulation)</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="uses" id="uses_visual" value="Visualization" type="checkbox" {{"checked" if "Visualization" in search['uses'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td>Visualization</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="uses" id="uses_integrate" value="Integration" type="checkbox" {{"checked" if "Integration" in search['uses'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td>Data or model integration (combining data from different sources)</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="uses" id="uses_manage" value="Management" type="checkbox" {{"checked" if "Management" in search['uses'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td>Data or model management (providing storage)</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="uses" id="uses_convert" value="Conversion" type="checkbox" {{"checked" if "Conversion" in search['uses'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td>Data or model conversion (SBML to/from other formats)</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="uses" id="uses_prog" value="Programming API" type="checkbox" {{"checked" if "Programming API" in search['uses'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td>Programming API</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="uses" id="uses_net" value="Network API" type="checkbox" {{"checked" if "Network API" in search['uses'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td>Network API</td>
		</tr>
		<tr>
			<td><label class="container">
				<input name="uses" id="uses_other" value="Other" type="checkbox" {{"checked" if search['uses_other'] else ""}}>
				<span class="checkmark"></span>
			</label></td>
			<td>Other:<input id="uses_other_txt" name="uses_other_txt" value="{{search['uses'][0] if search['uses_other'] else ""}}"</td>
		</tr>
	</table>

	<label for="lib">Other Options</label>
	<table class="simple">
		<tr>
			<td><label class="container">
				<input name="lib" id="lib" value="1" type="checkbox" {{"checked" if search['lib'] else "" }} >
				<span class="checkmark"></span>
			</label></td>
			<td>Require Mainstream SBML Parser (ie: JSBML or libSBML)</td>
		</tr>
	</table>

	<p />
	<input type="submit" value="Search">
</form>

{% endblock %}
