{% extends 'base.html' %}

{% block header %}
    <h1><a href="{{ url_for('profile.profile') }}">{% block title %}Profile{% endblock %}</a></h1>
{% endblock %}

{% block content %}
    <p>
        User <strong>{{email}}</strong>
        <a style="float:right;" href="{{ url_for('profile.settings') }}">Settings</a>
    </p>
    <hr>
    <form method="post">
        <p><strong>Entries</strong></p>
        <table>
            {% for entry in entries %}
            <tr>
                <a href="{{ url_for('entry.update', id=entry['id']) }}">{{ entry['name']}}</a>
            </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
